a,
button {
  outline: 0 !important;
  border: 0;
  box-shadow: none !important;
}
li{
  list-style: none;
}
.container-fluid {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.skill-text {
  color: #2d1863;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color:transparent !important;
}
.skill-text::before {
  content: "";
  width: 0.5%;
  height: 21px;
  margin-right: 15px;
  display: inline-block;
  background: gold;
}
.skills-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  border: none !important;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  height: 50px;
  width: 300px;
  overflow: hidden;
  position: relative;
  color: #000;
  font-weight: bolder !important;
  font-size: 16px !important;
  background-color: #fff !important;
  margin: 8px 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: rgb(62, 127, 248);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn:hover {
  color: #000 !important;
}
.btn:hover:after{
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.inner-skills {
  height: 180px;
  width: auto;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.backend-one,
.backend-two {
  height: 150px;
  width: 150px;
  background: #fff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.backend-one,
.backend-two{
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
  box-shadow: 0px 30px 70px 0px rgba(111, 52, 254, 0.1);
}
.backend-one:nth-child(2) {
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.backend-one img,
.backend-two img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tex-ski{
  text-align: center;
  position: relative;
  top:120px;
}
.nav-link {
  padding: 0 !important;
}
.skills-btn ul {
  display: flex;
  flex-direction: column;
}
@media(max-width:475px){
  .flutter{
    display: none;
  }
  .back-div{
    order: 2;
  }
  .front-div{
    order: 1;
  }
  img{
    height:80px;
    width:80px;
  }
  .react-nav{
    position: relative;
    top:110px;
  }
  
}
.content-div{
  background:url("../images/471f49f8-object.png")no-repeat,url("../images/2b0bbd1d-object-4.png")no-repeat;
  background-position:5% 90%, top right;
  
}



.title-section h2 {
  padding-left: 30px;
  border-left: 4px solid #790499;
  display: inline-block;
  color: #000
}

.title-section.text-center h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background: #ee4266;
  content: ""
}